name: github pages

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Checkout master
      run: git checkout -b master
    - name: Set up Graphviz
      run: sudo apt install -y graphviz
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.x
    - name: Build Document
      run: ./gradlew clean asciidoc
    - name: Configure Git Settings
      run: |+
        git config --local user.name 'Github Pages Action'
        git config --local user.email 'tsuyoshi.oiwa.code@gmail.com'
    - name: Deploy Github Pages
      run: |+
        git add docs ;\
        git commit -m "deploy Github Pages" ;\
        git push origin

